[submodule "models/RibonanzaNet"]
	path = models/RibonanzaNet
	url = git@github.com:Shujun-He/RibonanzaNet.git
[submodule "models/RhoFold"]
	path = models/RhoFold
	url = https://github.com/ml4bio/RhoFold.git
