[submodule "models/RibonanzaNet"]
	path = models/RibonanzaNet
	url = git@github.com:Shujun-He/RibonanzaNet.git
[submodule "models/RhoFold"]
	path = models/RhoFold
	url = https://github.com/ml4bio/RhoFold.git
[submodule "models/boltz"]
	path = models/boltz
	url = git@github.com:jwohlwend/boltz.git
[submodule "models/Protenix"]
	path = models/Protenix
	url = git@github.com:bytedance/Protenix.git
[submodule "models/openfold"]
	path = models/openfold
	url = https://github.com/aqlaboratory/openfold
[submodule "models/alphafold"]
	path = models/alphafold
	url = https://github.com/google-deepmind/alphafold
[submodule "models/DRfold2"]
	path = models/DRfold2
	url = git@github.com:ignasiialemany/DRfold2.git
